.about_description {
  color: rgb(0, 0, 0, 0.7);
  line-height: 1.8;
  margin-bottom: 40px;
}
.about_skill_box {
  margin-bottom: 50px;
  padding: 24px;
  border-bottom: 2px solid #2c98f0;
}
.about_skill_box > i {
  margin-bottom: 20px;
  font-size: 30px;
  border-bottom: 2px solid #2c98f0;
}
.about_skill_box > h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.about_skill_box:nth-child(2) > i {
  color: red;
}
.about_skill_box:nth-child(2) {
  border-bottom: 2px solid red;
}
.about_skill_box:nth-child(3) > i {
  color: green;
}
.about_skill_box:nth-child(3) {
  border-bottom: 2px solid green;
}
.about_skill_box:nth-child(4) > i {
  color: purple;
}
.about_skill_box:nth-child(4) {
  border-bottom: 2px solid purple;
}


@media screen and (max-width: 768px) {
  .about_skill_box {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

  }
  .about_skill_box{
    flex-grow: 1;
  }
} 