.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  cursor: pointer;
  z-index: 50;
  transition: 500ms;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  z-index: 20;
}
.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
